h2 {
    color: #424263;
    margin-left: 30px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #424263;
    width: 100%;
    margin: 0;
}
