.section {
    text-align: center;
}

#cancel {
    color: red;
    background-color: rgb(253, 230, 234);
    margin-left: 25%;
}

#load-drawing {
    color: #424263;
    background-color: rgb(244, 238, 248);
    margin-right: 20%;
}
