#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules

drawingStorage/

.env

*debug.log
*.log

lintTest.sh
pipeline.sh

server/drawing-storage/
