mat-card {
    background-color: rgb(214, 209, 209);
    size: 20px;
    width: 205px;
    margin-top: 10px;
    align-items: center;
}

h2 {
    color: #424263;
    margin-left: 30px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
}

mat-slide-toggle {
    margin-bottom: 2%;
}

button {
    padding: 0px 0px;
    background-color: #e2e20e;
    margin-left: 60px;
}
