.tools-panel {
    height: 100%;
    display: flex;
    width: 240px;
    background-color: #c9c9c9;
    flex-flow: column;
    // justify-content: space-between;
    overflow-y: scroll;
    user-select: none;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 0%;
    user-select: none;
    margin-bottom: 1.5%;
}
.color-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20%;
    margin-bottom: 1.5%;
}

.grid-section {
    margin-bottom: 1.5%;
}
::-webkit-scrollbar {
    width: 0px;
}
