<div id="canvas-container">
    <canvas
        id="canvas"
        #baseCanvas
        [attr.width]="width"
        [attr.height]="height"
    ></canvas>
    <canvas
        id="gridLayer"
        #gridCanvas
        [attr.width]="width"
        [attr.height]="height"
        [style.cursor]="
            getSelectedToolName() === 'Efface'
                ? 'none'
                : getSelectedToolName() === 'Étampe'
                ? 'none'
                : getSelectedToolName() === 'Sélection par Rectangle'
                ? resizerStyle
                : getSelectedToolName() === 'Sélection par Ellipse'
                ? resizerStyle
                : getSelectedToolName() === 'Sélectionner tout'
                ? resizerStyle
                : 'crosshair'
        "
    ></canvas>
    <canvas
        id="previewLayer"
        #previewCanvas
        [attr.width]="resizingLayerWidth"
        [attr.height]="resizingLayerHeight"
        [style.border]="getResizingCanvasBorderStyle()"
        [style.cursor]="
            getSelectedToolName() === 'Efface'
                ? 'none'
                : getSelectedToolName() === 'Étampe'
                ? 'none'
                : getSelectedToolName() === 'Sélection par Rectangle'
                ? resizerStyle
                : getSelectedToolName() === 'Sélection par Ellipse'
                ? resizerStyle
                : getSelectedToolName() === 'Sélectionner tout'
                ? resizerStyle
                : 'crosshair'
        "
    ></canvas>
</div>
