#text-Attributes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 5px 0 5px;
}

mat-card {
    background-color: rgb(214, 209, 209);
    size: 25px;
    width: 205px;
    margin-bottom: 1%;
}

h2 {
    color: #424263;
    margin-left: 30px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
}

.size-form {
    width: 48px;
    height: 5px;
    margin-left: 170px;
    margin-bottom: -9%;
    margin-top: -70%;
    user-select: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #424263;
    width: 100%;
    margin: 0;
}

.size {
    margin-top: -10%;
    margin-bottom: -4%;
}

.no-select {
    color: #424263;
    margin-left: 30px;
    font-size: 17px;
    margin: 5px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 1%;
    text-align: center;
}
.alignment {
    text-align: center;
    margin-bottom: -4%;
}
